*, *::before, *::after {
   box-sizing: border-box;
}

body {
    padding: 0 0 0;
    max-width: 100vw;
    height: 100%;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 0;
}

.jumbotron {
    position: absolute;
    top: 7%;
    width: 80%;
    height: 80%;
    background-color: #FFF;
    -webkit-box-shadow: 6px 7px 12px -9px rgba(0,0,0,0.72);
    -moz-box-shadow: 6px 7px 12px -9px rgba(0,0,0,0.72);
    box-shadow: 6px 7px 12px -9px rgba(0,0,0,0.72);
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 10px 3% 10px;
    background-color: #FFF;
}

.footer_navigation_link {
    text-decoration: none;
    margin-right: 20px;
}

.text-big {
    font-size: 13em;
    color: #000;
}

.text-small {
    font-size: 1.2em;
    color: #000;
}
